#ext-app-root {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 100px;
    height: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

/* #ext-app-root:hover {
    min-width: 400px;
} */

#ext-app-root .app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background: gray;
}

#ext-app-root .btn {
padding: .5rem;
background: brown;
color: white;
}
